#
# General-purpose
#

~*
*.bak
*.py[oc]
.DS_Store


#
# Editors
#

# ViM-generated
*.sw[nop]
*~

# Emacs-generated
.#*
\#*#

# PyDev (Intellij) local configuration folder
.idea
*.iml

# Eclipse PyDev projects
.project
.pydevproject


#
# Zing-specific
#

.cache
.coverage
*-local.conf
*.db
*.min.*.css
manifest.json

/docs/_build/

/pootle/assets/
/pootle/locale/*/LC_MESSAGES/
/pootle/log/
/pootle/static/translations/

/tests/data/po/.tmp

# Build
dist/
build/
*.egg-info/

# JavaScript
node_modules/
.module-cache
*.bundle.js
*.map

# 'gh-pages' branch
assets/
_layouts/
_site/
