@font-face
{
    font-family: ZingIcons;
    src: url('../fonts/ZingIcons.woff') format('woff');
}

.icon,
.icon-desc,
.icon-asc,
.icon-expand-tasks,
.icon-expand-stats,
.icon-collapse-stats,
.icon-web-translate,
.icon-warning,
.icon-timeline,
.icon-tick,
.icon-search,
.icon-reject,
.icon-raw-mode,
.icon-project,
.icon-language,
.icon-information,
.icon-google-translate,
.icon-caighdean-translate,
.icon-web-translate,
.icon-welsh-translate,
.icon-yandex-translate,
.icon-folder,
.icon-folder-parent,
.icon-file,
.icon-error,
.icon-copy,
.icon-comment-add,
.icon-block,
.icon-block-muted,
.icon-arrow-up,
.icon-arrow-down,
.icon-accept,
.icon-upload,
.icon-reject-white,
.icon-download,
.icon-back,
.icon-prev,
.icon-next,
.icon-accept-white,
.icon-external-link,
.icon-menu,
.icon-close,
.icon-exit,
.icon-show-context-rows,
.icon-user-website,
.icon-user-linkedin,
.icon-user-twitter
{
    font-family: ZingIcons, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    vertical-align: bottom;
    background-image: none;
}

.icon-desc::before
{
    content: 'J';
    color: #000;
}

.icon-asc::before
{
    content: 'K';
    color: #000;
}

.icon-expand-tasks::before
{
    content: 'H';
    color: #fff;
    background-color: transparent;
}

.icon-expand-stats::before
{
    content: 'H';
    color: #000;
}

.icon-collapse-stats::before
{
    content: 'I';
    color: #000;
}

.icon-warning::before
{
    content: 'G';
    color: #f90;
}

.icon-timeline::before
{
    content: 'Q';
}

.icon-tick::before
{
    content: 'D';
}

.icon-search::before
{
    content: 'V';
}

.icon-reject::before
{
    content: 'C';
    color: #d2322d;
}

.icon-raw-mode::before
{
    content: 'S';
}

.icon-project::before
{
    content: 'e';
}

.icon-language::before
{
    content: 'A';
}

.icon-google-translate::before,
.icon-caighdean-translate::before,
.icon-web-translate::before,
.icon-welsh-translate::before,
.icon-yandex-translate::before
{
    content: 'O';
}

.icon-folder::before
{
    content: 'd';
}

.icon-folder-parent::before
{
    content: 'Z';
}

.icon-file::before
{
    content: 'g';
}

.icon-copy::before
{
    content: 'P';
}

.icon-comment-add::before
{
    content: 'R';
}

.icon-block::before
{
    content: 'F';
    color: #f00;
}

.icon-block-muted::before
{
    content: 'F';
    color: #ccc;
}

.icon-arrow-up::before
{
    content: 'X';
}

.icon-arrow-down::before
{
    content: 'Y';
}

.icon-accept::before
{
    content: 'B';
    color: #5fb336;
}

.icon-reject-white::before
{
    content: 'E';
}

.icon-back::before
{
    content: 'T';
}

.icon-prev::before,
.icon-next::before
{
    content: 'h';
}

.icon-prev
{
    /* flip horizontally */
    transform: scale(-1, 1);
}

.icon-accept-white::before
{
    content: 'D';
}

.icon-external-link
{
    font-size: 15px;
    width: 15px;
    height: 15px;
    position: relative;
    top: -3px;
}

.icon-external-link::before
{
    content: 'A';
}

.icon-menu::before
{
    content: 'W';
}

.icon-close::before
{
    content: 'L';
}

.icon-exit::before
{
    content: 'f';
}

.icon-show-context-rows::before
{
    content: 'U';
}

.icon-user-website,
.icon-user-linkedin,
.icon-user-twitter
{
    font-size: 32px;
    width: 32px;
    height: 32px;
}

.icon-user-website::before
{
    content: 'A';
    color: #2c9ace;
}

.icon-user-linkedin::before
{
    content: 'i';
    color: #0077b5;
}

.icon-user-twitter::before
{
    content: 'j';
    color: #1da1f2;
}
