{% load locale %}
<div id="editor">
  <div id="js-editor-act" class="hide editor-overlay loader"></div>
  <div id="js-editor-msg-overlay"></div>

  <div class="translate-table-wrapper">
    <div class="js-view-rows-before-wrapper">
      <table class="translate-table js-view-rows-before" dir="{% locale_dir %}">
      </table>
      <table class="translate-table js-context-rows-before" dir="{% locale_dir %}">
      </table>
    </div>
    <table class="translate-table js-editor-table js-editor-row {% if cansuggest and not cantranslate %} suggest-mode{% endif %}" dir="{% locale_dir %}">
    </table>
    <div class="js-view-rows-after-wrapper">
      <table class="translate-table js-view-rows-after" dir="{% locale_dir %}">
      </table>
      <table class="translate-table js-context-rows-after" dir="{% locale_dir %}">
      </table>
    </div>
  </div>
</div>
