{% extends browser_extends %}

{% load core assets cleanhtml i18n locale common_tags profile_tags %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block header_content_block %}
<div class="js-mnt-pending-tasks"></div>

<div class="js-mnt-stats-summary"></div>
{% endblock %}

{% block actions %}
{% include 'browser/_actions.html' %}
{% endblock %}

{% block header_tabs_block %}
  <div id="autorefresh-notice">
  <span>
    {% if user.is_superuser %}
      {% blocktrans trimmed with docs_url="server/rq.html"|docs_url %}
        Stats are out of date.
        See <a href="{{ docs_url }}">documentation</a>
        for dealing with stats issues.
      {% endblocktrans %}
    {% else %}
      {% trans "The stats on this page may be out of date." %}
    {% endif %}
    <a href="#" class="js-stats-refresh">{% trans "Refresh now" %}</a>
    <a href="#" class="js-stats-refresh-close x"><i class="icon-close"></i></a>
  </span>
  </div>
{% endblock %}

{% block pre_content %}
{% if has_sidebar %}
<div id="sidebar"
  class="js-sidebar{% if is_sidebar_open %} sidebar-open{% endif %}">
  <div id="sidebar-content">
    {% block sidebar_content %}

    {% if announcements %}
    <div class="sidebar-group">
      {% for announcement in announcements %}
        {% include "staticpages/_body.html" with page=announcement %}
      {% endfor %}
    </div>
    {% endif %}

    {% endblock %}
  </div>
  <a id="sidebar-toggle" class="js-sidebar-toggle"></a>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if project and project.disabled %}
<div class="alert alert-danger">
{% trans "This project is disabled and visible to administrators only." %}
</div>
{% endif %}

{% if parent %}
<div class="browser-parent" lang="{{ LANGUAGE_CODE }}">
  <a href="{{ parent.href }}"><i class="icon-folder-parent"></i> <span>{{ parent.title }}</span></a>
</div>
{% endif %}

<div class="browsing-table-container bd" id="js-browsing-table-container" lang="{{ LANGUAGE_CODE }}"></div>
{% endblock content %}

{% block scripts_extra %}
{{ block.super }}
<script type="text/javascript">
$(function () {
  PTL.search.init();
  PTL.stats.init({
    pootlePath: "{{ pootle_path }}",
    canAdminDueDates: {{ can_admin_due_dates|yesno:"true,false" }},
    canTranslateStats: {{ can_translate_stats|yesno:"true,false" }},
    dueDate: {{ due_date|to_js }},
    isAdmin: {{ has_admin_access|yesno:"true,false" }},
    isInitiallyExpanded: {{ is_store|yesno:"true,false" }},
    initialData: {{ browsing_data|to_js }},
    topContributorsData: {{ top_scorers|to_js }},
    statsRefreshAttemptsCount: {{ stats_refresh_attempts_count }},
    languageCode: '{{ language.code }}',
    uiLocaleDir: '{{ LANGUAGE_BIDI|yesno:"rtl,ltr" }}',
    pendingTasks: {{ pending_tasks|to_js }},
  });
});
</script>
{% endblock %}
